
body > .section-cards {
    padding-bottom: 40px;

}
body figure {
    margin: 0;
}

.section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.section-cards > .cards-title {
    flex: 100%;
    margin-bottom: -2%;
    text-align: center;
    font-size: 1.6em;
    line-height: 1;
    text-transform: capitalize;
}
.section-cards > .card-container {
    margin-top: 2%;
    margin-left: 1.3333%;
    width: 330px;
}
.section-cards > .card-container:nth-of-type(4n+1) {
    margin-left: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(31, 36, 38, 0.15);
}
.card-container > .card-image {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;

}
.card-container > .card-image > .image {
    /*margin-top: -20%;*/
    max-width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 350px;
    height: 230px;
}
.card-container > .title,
.card-container > .text {
    padding-right: 12px;
    padding-left: 12px;
}
.card-container > .title {
    margin: 24px 0 0;
    font-size: 1.6em;
    text-transform: capitalize;
}
.card-container > .text {
    margin-bottom: 24px;
    font-size: 1.2em;
    line-height: 1.3;
}
.card-container > .link {
    display: block;
    margin-top: auto;
    padding: 12px 0;
    border-top: 1px solid #d5d9db;
    font-size: 1.2em;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .section-cards > .card-container:nth-of-type(3n+1) {
        margin-left: 0;
    }
}
@media only screen and (max-width: 906px) {
    .section-cards > .card-container {
        margin-left: 0;
    }
    .section-cards > .card-container:nth-of-type(2n) {
        margin-left: 1.3333%;
    }
}


.badge {
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.badge:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.badge-error {
    background-color: #b94a48;
}
.badge-error:hover {
    background-color: #953b39;
}
.badge-warning {
    background-color: #f89406;
}
.badge-warning:hover {
    background-color: #c67605;
}
.badge-success {
    background-color: #468847;
}
.badge-success:hover {
    background-color: #356635;
}
.badge-info {
    background-color: #3a87ad;
}
.badge-info:hover {
    background-color: #2d6987;
}
.badge-inverse {
    background-color: #333333;
}
.badge-inverse:hover {
    background-color: #1a1a1a;
}

.badge{
    margin:3px
}

#card-footer{
    height: 40px;
    text-align: center;
    padding: 7px;
}

.table_data{
    width:28%;
    padding: 25px;
}

hr{
    color: #eee;
    margin: 0 15px;
}
