.footer{
    width:100%;
    height: 400px;
    background-color: rgb(31, 31, 31);
    color:#fff;
}

.footer-logo{
    padding:60px;
    width:150px;
}

.footer-links{
    color:#fff;
    float: right;
    width:500px;
    margin-right: 110px;
}


.footer-links>table>tbody>tr>td{
    color:#fff;
    width:20%;
    font-size: 21px;
}