@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600";
.heroHeader {
    height: 250px;
    max-height: 250px;
    min-height: 80px;
    background: url("https://d3i4yxtzktqr9n.cloudfront.net/web-eats-v2/dd89238d0aaaa2c9fd0e895ec501049b.svg") no-repeat center;
    background-size: cover;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    background-color: rgb(216, 196, 255);
}
.heroHeader-content {
    position: relative;
    z-index: 1;
}
.heroHeader::before {
    content: "";
    background: rgba(0, 0, 0, 0.01);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background 400ms;
    z-index: 0;
}


.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.searchbar {
    float: right;
    background-color: #fff;
    color: #333;
    padding: 6px 10px;
    width: 190px;
    height: 31px;
    border: none;
    margin-top: 1px;
    margin-right: 8px;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    border-bottom: #444 solid 2px;
    transition: 0.3s;
}

.searchbar::placeholder {
    color: #555;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    /* transition: 0.2s; */
}

.searchbar:focus {
    width: 420px;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    transition: 0.3s;
    /* Stops the input box from inheriting the styling from the inputs on the request form */
    border-bottom: #444444 solid 2px;
    outline: none;
}

.btn-search {
    cursor: pointer;
    color: white;
    text-decoration: none !important;
    background: url("http://download.seaicons.com/download/i12388/gakuseisean/ivista-2/gakuseisean-ivista-2-start-menu-search.ico") no-repeat center;
    font-size: 1.5em;
    padding-top: 5px;
    background-size: contain;
    width:40px;
    height:50px;
}

.links{
    position: absolute;
    right: 40px;
    color: #222;
    text-decoration: none;
    top: 20px;
}
.links > a{
    color:#444;
    font-size: 18px;
    text-decoration: none;
}

.links > a:hover{
    color:red;
    font-size: 18px;
    text-decoration: none;
}


.searchbar_logo{
    float: right;
    background-color: #fff;
    color: #333;
    padding: 6px 10px;
    width: 25px;
    height: 31px;
    border: none;
    margin-top: 1px;
    font-family: "Segoe UI Light","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    border-bottom: #444 solid 2px;
    transition: 0.3s;
}

.logo-top{
    position: absolute;
    top: 20px;
    margin-right: 10px;
}

.logo-left{
    margin-right: 10px;
}

